@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');
* {
    box-sixing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Single-font: "Abel";
    --Rubik: "Rubik", sans-serif;
    --Patua: "Patua One", cursive;
    --Lobster: "Lobster";
    --light-black: #2e2c2caf;
    --bggradient2: linear-gradient(to bottom, #dd2476, #ff512f);
    --bggradient: linear-gradient(to bottom, #DE3C4B, #000022);
    --dark_color: #000022;
    --light-gray: rgba(255, 255, 255, 0.65);
}

header a {
    font-family: "Rubik": sans-serif;
    font-size: 0.9em;
    color: #82ABA1;
}

header {
    background: #dd2476;
    background: var(--bggradient);
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    /* padding-left: 8rem; */
    color:  black;

    
}

header .navbar-brand:hover{
    color: #FBF5F3;
}

header .nav-link{
    color: black;
}


header .nav-link:hover {
    color: #FBF5F3;
}

header .row .col-md-5 {
    padding: 4.2vmin 1vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: 'Rubik', sans-serif;
    color: white;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .col-md-7 h6 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .container .col-md-7 h1 {
    font-size: 8.5 vm;
    font-weight: bold;
    padding: 0.1 em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

header.container .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
}


/* Section - 1 */

.section-1 {
    padding: 20vmin 0;
}

.section-1 .row .col-md-6 .pray img {
    opacity: 0.8;
    width: 80%;
    border-radius: 0.2em;
}

.section-1 .row .col-md-6:last-child {
    position: relative;
}

.section-1 .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 13vmin 5vmin 20vmin 10vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
}

.section-1 .row .col-md-6 .panel h1 {
    font-weight: bold;
    padding: 0.4 em 0;
    font-size: 2 m;
}

.section1 .row .col-md-6 .panel p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}


/* Section - 2 */

.cover {
    width: 100%;
    height: 55vmin;
    background: url('/assets/pexels-photo-452738.jpeg');
    background-position: -24rem, -19rem;
    background-size: 150%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vim;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: #DE3C4B;
}


.numbers .rect p {
    font-family: var(--Patua);
}

.purchase>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Patua);
}

.purchase>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.purchase .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    /* background: #000022; */
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black);
}

.card .body .pricing {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
    font-size: 1rem;
}

.card .body .pricing>h1 {
    font-size: 7.5vmin;
    padding: 1em 0.5em;
}


/* Section 3 */

.section-3 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-3 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: black;
    font-size: 6vmin;
}

.section-3 .col-md-12>p {
    padding: 0.4em;
    padding-bottom: 2em;
    color: black;
    font-size: 3vmin;
}

.section-3 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-3 .desktop h3 {
    font-size: 4vmin;
}
s
.section-3 .desktop p {
    font-size: 2vmin;
}


/* Section 4 */

.section-4 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-4 .team {
    padding: 10vmin 4vmin;
}

.section-4 .card {
    width: 22em;
    margin-top: 10vmin;
}

.section-4 .card .card-text {
    padding: 0.5em;
}

.section-4 .card .card-body>a {
    font-size: 1.5em;
}

/* .section-4 .carousel-item {
    padding-left: 1.5rem;
} */

.border-radius {
    border-radius: 340px;
    width: 60%;
}


/* Footer */

footer {
    background: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #E28413;
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: white !important;
}

footer .input-group .input-group-text {
    background: linear-gradient(to bottom, #C42847, #E28413);
    border: none;
}

footer .column i {
    color: #E28413;
}

footer .column i+i {
    padding: 0 0.5em;
}


/* Sticky class */

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #C42847;
    
    z-index: 9999;
    transition: all 1.5s ease;
}


/* palette */


/* https://coolors.co/e8aeb7-b8e1ff-a9fff7-94fbab-82aba1 */